body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    font-size: 16px;
    font-family: "roboto";
    background-color: black;
}

#root {
    margin: 0;
}

@media (max-width: 320px) {
  body { font-size: 14px; }
  h1 { font-size: 24px; }
  h2 { font-size: 20px; }
  h3 { font-size: 18px; }
}

@media (min-width: 321px) and (max-width: 374px) {
  body { font-size: 15px; }
  h1 { font-size: 26px; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; }
}

@media (min-width: 375px) and (max-width: 424px) {
  body { font-size: 16px; }
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h3 { font-size: 22px; }
}

@media (min-width: 425px) and (max-width: 767px) {
  body { font-size: 17px; }
  h1 { font-size: 30px; }
  h2 { font-size: 26px; }
  h3 { font-size: 24px; }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body { font-size: 18px; }
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 26px; }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  body { font-size: 20px; }
  h1 { font-size: 36px; }
  h2 { font-size: 32px; }
  h3 { font-size: 28px; }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  body { font-size: 22px; }
  h1 { font-size: 42px; }
  h2 { font-size: 36px; }
  h3 { font-size: 32px; }
}

@media (min-width: 2560px) {
  body { font-size: 24px; }
  h1 { font-size: 48px; }
  h2 { font-size: 42px; }
  h3 { font-size: 36px; }
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../font/roboto");
}