$golden_yellow: #ffbd39;
$font-color-1: #ffffff;

.item-1-greating {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  gap: 5vh;
  overflow: hidden;
}

.text-greeting-container {
  margin-top: 8vh;
}

.greeting {
  color: $golden_yellow;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.white-text {
  color: $font-color-1;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 800;
}

.yellow-text {
  color: $golden_yellow;
}

.illustration_coding {
  background-image: url("/public/assets/ai-generated-8237711_1280.webp");
  height: 60vh;
  background-size: cover;
  min-width: 60vh;
  border-radius: 20px;

  background-position: -200px 0;
  background-repeat: no-repeat;
  background-size: auto;
}

.text-greeting-container,
.illustration_coding {
  will-change: transform, opacity;
}

@media (max-width: 320px) {
}

@media (min-width: 321px) and (max-width: 374px) {
}

@media (min-width: 375px) and (max-width: 424px) {
  .div-2 div div img {
    max-height: 70px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .div-2 div div img {
    max-height: 75px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .div-2 div div img {
    max-height: 120px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .div-2 div div img {
    max-height: 150px;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
}

@media (min-width: 2560px) {
}
