@keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes skewAnimation {
    from {
        transform: rotateY(-24deg) rotateZ(-8deg);
        opacity: 0;
    }
    to {
        transform: rotateY(0deg) rotateZ(0deg);
        opacity: 1;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    
    background-image: url('/assets/backgrounds/g3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 12vh;
    padding-left: 30%;
    padding-right: 30%;
}


.div-1 {
    height: 100%;
    width: 100%;   
    color: white;

    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0,0.8);

    border-radius: 20px;
}

.main-div {
    height: 100%;
    background-color: rgb(16, 128, 194);
    max-width: 50%;
    color: white;

    border-radius: 20px 20px 0px 0px;

    display: flex;
    flex-direction: row;

}


.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 80px;
    animation: skewAnimation 6s cubic-bezier(.23, 1, .32, 1) forwards .4s;
}

.text-container div {
    text-align: justify;
    text-justify: inter-word;
    line-height: 2;

    font-family: "Roboto";
    font-weight: 700;

}

.div-2 div {
    border-radius: 80px;
    padding: 1rem;

}

.div-2 div div {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.div-2 div div img {
    max-height: 200px;
    opacity: 1;
    transition: transform 0.3s ease;
    border-radius: 20px;
    background-color: white;
}

.div-2 div div img:hover {
    transform: scale(1.25); 
}

.progress-bar {
    height: 10px;
    width: 20vh;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: 0.5s;
}


.text-container:hover .progresse-bar-container .progress-bar {
    width: 40vh;
}

h1 {
    margin-bottom: 0;
}

.container h3 {
    margin-top: 0;
}