$font-color-1: #FFFFFF;
$font-color-2: #ffbd39;


.container-home {
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin-top: 0;
  margin-left: 22%;
  margin-right: 20%;
}

.item-1 {
  margin-top: 5vh ;
  display: flex;
  flex-direction: row;
  gap: 5vh;
}

.text-greeting-container {
  margin-top: 5vh;
}

.greeting {
  color: $font-color-2;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.yellow-text {
  color: $font-color-2;
}
.white-text {
  color: $font-color-1;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 800;
}

.illustration_coding {
  background-image: url("/src/assets/ai-generated-8237711_1280.webp");
  height: 60vh;
  background-size: cover;
  min-width: 60vh;
  border-radius: 20px;

  background-position: -200px 0; 
  background-repeat: no-repeat; 
  background-size: auto;
}

.item-2 {
  margin-top: 15vh ;
  display: flex;
  flex-direction: row;
  gap: 5vh;

}

.vertical-coding {
  background-image: url("/src/assets/dv-verti.jpg");
  height: 60vh;
  background-size: cover;
  min-width: 60vh;
  border-radius: 20px;
  background-repeat: no-repeat; 
  background-size: auto;
  background-position: 50% 0;
}

.text-container-about {
  color: $font-color-1;
}

.back {
  position: absolute;;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: 0;
  font-weight: 900;
}

.front * {
  z-index: 1;
  background-color: transparent;
}

.about-me-list-container {
  margin-top: 10vh;
} 


.about-me-list-container * {
  font-size: 16px;
} 

.td-left {
  padding-right: 3vh;
}


.tab-list {
  border-collapse: separate; 
  border-spacing: 1.5vh;
}

.resume-button {
  background-color: $font-color-2;
  color: black;
  border-radius: 20px;
  margin-top: 2vh;
  margin-left: 30%;
  padding:1vh;
}

.item-3 {
  margin-top: 15vh ;
  display: flex;
  text-align: justify;
}

.item-3-back {
  position: absolute;;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: 0;
  font-weight: 900;
  margin-left: 20%;
  margin-top: 0;
}

.item-3-front *{
  z-index: 1;
  background-color: transparent;
  color: $font-color-1;
  margin-left: 10%;
  margin-right: 10%;
}

.item-3-title {
  font-size: 4vw;
  color:$font-color-1;
  font-weight: 450;
  margin-left: 40%;
}

.item-3-front-paragraphe {
  padding-top: 0vh;
}

.item-4 {
  color: $font-color-1;
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left: 5vh;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  background: rgba(255, 255, 255, 0.1);
  margin: 2vh;
  padding: 3vh;
}

.year-diploma {
  font-size: 26px;
  color: $font-color-2;
}

.title-diploma {
  font-size: 26px;
  line-height: 1.5;
  color: white;
  font-weight: 400;
}

.school {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #999999;
}

.item-4-pargraphe {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  color: #999999;
  line-height: 1.5;
}

.resume-button-item-4 {
  background-color: $font-color-2;
  color: black;
  border-radius: 30px;
  margin-top: 2vh;
  margin-left: 37%;
  padding: 2vh 5vh 2vh 5vh;
  font-weight: 900;
}

.item-5-square {
  background: rgba(255, 255, 255, 0.1);
  margin: 2vh;
  padding: 3vh;
  min-width: 240px;
  font-size: 13px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-5 {
  margin-left: 5vh;
}

.item-5-square {
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease;
}

.item-5-img {
  max-height: 100px;
  margin-left: 5vh;
  fill: $font-color-2;
  transition: filter 0.3s ease; 
}

.item-5-square:hover {
  background-color: $font-color-2;
}

.item-5-square:hover .item-5-img g{ 
  fill: $font-color-1;

}

.item-5-square:hover .item-5-img path { 
  fill: $font-color-1;
}

.item-5-square h1 {
  color: $font-color-1; 
  transition: color 0.3s ease; 
}

.item-5-square:hover h1 {
  color: black;
}

.service-title {
  font-size: 16px;
  color: $font-color-1;
  font-weight: 400;

}


@media (max-width: 320px) {

  .item-1 {
    margin-top: 5vh ;
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 321px) and (max-width: 374px) {

}

@media (min-width: 375px) and (max-width: 424px) {
  .div-2 div div img {
    max-height: 70px;
  }
  
}

@media (min-width: 425px) and (max-width: 767px) {
  .div-2 div div img {
    max-height: 75px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .text-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .div-2 div div img {
    max-height: 120px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .text-container {
    margin-left: 10%;
    margin-right: 10%;
  }

  .div-2 div div img {
    max-height: 150px;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  .text-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 2560px) {
  .text-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}
