$background-url: '/src/assets/backgrounds/fuji/mont-fuji-photos-images-gratuites-fotomelia-1560x1040.jpg';
$container-padding-top: 12vh;
$text-font-family: "Roboto";
$text-line-height: 2;
$background-opacity: 0.8;

h3 {
  font-family: "Roboto";
  font-weight: 700;
  color: white;
  margin: 0;
  padding-top: 0.5%;
  margin-left: 2.5%;
}

.container-home {
  background: url($background-url) no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  height: 100vh;
  margin-top: 0;

}

.burger-bar {
  display: block;
  width: 40px;
  height: 3px;
  position: relative;
  border-radius: 3px;
  background-color: white;
}

.navbar_burger {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 100;
}

@media (max-width: 320px) {

  .text-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  

  .div-2 div div img {
    max-height: 50px;
  }

}

@media (min-width: 321px) and (max-width: 374px) {
  .text-container {
    padding: 1.5rem;
  }

  .div-2 div div img {
    max-height: 70px;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .div-2 div div img {
    max-height: 70px;
  }
  
}

@media (min-width: 425px) and (max-width: 767px) {
  .div-2 div div img {
    max-height: 75px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .text-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .div-2 div div img {
    max-height: 120px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .text-container {
    margin-left: 10%;
    margin-right: 10%;
  }

  .div-2 div div img {
    max-height: 150px;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  .text-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 2560px) {
  .text-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}
