.item-3-resume {
  margin-top: 15vh;
  display: flex;
  text-align: justify;
}

.item-3-back {
  position: absolute;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: 0;
  font-weight: 900;
  margin-left: 20%;
  margin-top: 0;
}

.item-3-front * {
  z-index: 1;
  background-color: transparent;
  color: $font-color-1;
  margin-left: 10%;
  margin-right: 10%;
}

.item-3-title {
  font-size: 4vw;
  color: $font-color-1;
  font-weight: 450;
  margin-left: 40%;
}

.item-3-front-paragraphe {
  padding-top: 0vh;
}
