@keyframes slidein {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes skewAnimation {
  from {
      transform: rotateY(-24deg) rotateZ(-8deg);
      opacity: 0;
  }
  to {
      transform: rotateY(0deg) rotateZ(0deg);
      opacity: 1;
  }
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$background-url: '/src/assets/backgrounds/c747e79a-f64b-4a2d-bb76-4dc367c08211.webp';


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  
  background-image: url($background-url);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 12vh;
  padding-left: 30%;
  padding-right: 30%;
}


.div-1 {
  height: 100%;
  width: 100%;   
  color: white;

  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0,0.8);

  border-radius: 20px;
}

.main-div {
  height: 100%;
  background-color: rgb(16, 128, 194);
  max-width: 50%;
  color: white;

  border-radius: 20px 20px 0px 0px;

  display: flex;
  flex-direction: row;

}


.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 80px;
  animation: skewAnimation 6s cubic-bezier(.23, 1, .32, 1) forwards .4s;
}

.text-container div {
  text-align: justify;
  text-justify: inter-word;
  line-height: 2;

  font-family: "Roboto";
  font-weight: 700;

}

.progress-bar {
  height: 10px;
  width: 20vh;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: 0.5s;
}


.text-container:hover .progresse-bar-container .progress-bar {
  width: 40vh;
}

h1 {
  margin-bottom: 0;
}

.container h3 {
  margin-top: 0;
}

.github-img-link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.github-img-link {
  max-width: 100px;
}